.search-box {
    width: 90%;
    height: 10%;
    margin: 0 auto;
    margin-bottom: 25px;
    font: 1em sans-serif;
  }
  
  .search-box > * {
    width: 100%;
    display: block;
  }
  
  .search-box label {
    margin-bottom: 5px;
  
  }
  
  .food-list {
    list-style: none;
    padding: 0;
    width: 100%;
    
  }
  
  .single-food {
    display: block;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 50px;
    height: 150px;
    background-color: rgb(6, 27, 56);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  .single-food h3 {
    font-size: 1em;
    color: #f7f4f2;
  
  }
  
  .food-amount {
    color: #c06318;
  }
  
  .single-food img {
    width: 25%;
    height: 150px;
    float: left;
    border-radius: 50%;
  }
  
  .new-food {
    overflow: auto;
  }
  
  .new-food-button {
    float: left;
    width: 30%;
    display: block;
  }
  #input{
      margin-left: 20%;
      padding: 4%;
  }
  .my-food-list {
    float: right;
    width: 45%;
    padding: 2%;
    margin-top: 5%;
  }
  
  .foods {
    margin-left: 4%;
    width: 45%;
    display: inline-block;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  button {
    background-color: #4CAF50; /* Green */
    border: none;
    width: 8rem;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }
  #btn{
    margin: 5%;
    margin-left:40% ;
    display: inline;
  }
  #btn1{
    margin: 5%;
    margin-left:20% ;
    display: inline;
    padding: 5px 22px;
  }
.address{
  position: absolute;
  background-color: #9e4d0b;
  width: 30%;
  margin-top: -70%;
  margin-left: 35%;
  padding: 1%;
}
 input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }